body {
  background-color: black;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

h1 {
  color: #21ecff;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  margin: 10px 0;
  text-align: center;
}

a {
  cursor: pointer;
  margin-right: 10px;
}

.developer-links {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -55px;
}

.canvas-div {
  display: flex;
  justify-content: center;
}

.linkedin-link {
  background-image: url('../docs/images/linked-in.png');
  background-size: cover;
  height: 25px;
  width: 25px;
  z-index: 2;
}

.github-link {
  background-image: url('../docs/images/github.png');
  background-size: cover;
  height: 25px;
  width: 25px;
  z-index: 2;
}
