body {
  background-color: black;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

h1 {
  color: #21ecff;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px 50px 15px;
}

.developer-links {
  display: flex;
  justify-content: flex-end;
}

.mute-container {
  display: flex;
  justify-content: flex-start;
  min-width: 70px;
}

.mute {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../docs/images/volume.png"); /* image by Xinh Studio at https://www.iconfinder.com/xinhstudio; for personal use only */
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 25px;
  padding: 0;
  width: 25px;
  z-index: 2;
}

.on {
  background-image: url("../docs/images/mute.png"); /* image by Xinh Studio at https://www.iconfinder.com/xinhstudio; for personal use only */
}

.canvas-div {
  display: flex;
  justify-content: center;
}

.linkedin-link {
  background-image: url("../docs/images/linked-in.png"); /* image provided by Linked-In is under copywrite law */
  background-size: cover;
  height: 25px;
  width: 25px;
  z-index: 2;
}

.github-link {
  background-image: url("../docs/images/github.png"); /* image provided by Github is under copywrite law */
  background-size: cover;
  height: 25px;
  margin-right: 10px;
  width: 25px;
  z-index: 2;
}

@media only screen and (min-width: 1025px) {
  .mobile-controls-div {
    visibility: hidden;
  }

  #instructions:after {
    content: "Press left and right on your keyboard to navigate";
  }
}
