.scoreboard-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.scoreboard {
  align-content: space-between;
  align-items: center;
  background-color: rgb(100, 100, 100);
  border: 5px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  width: 0;
}

.scoreboard h2 {
  font-size: 0;
  color: red;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 2px black;
}

.scoreboard h4 {
  font-size: 0;
  font-family: "Press Start 2P", cursive;
  margin-top: 0;
}

.scoreboard button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 0;
  padding: 10px 15px;
}

.scoreboard button:hover {
  color: white;
  text-shadow: 2px 2px black;
}

.open {
  height: 40%;
  transition: width 1s, height 1s;
  width: 40%;
  z-index: 2;
}

.open h2 {
  font-size: 30px;
  margin-bottom: 30px;
  transition: font-size 1s, margin-bottom 1s;
}

.open h4 {
  font-size: 15px;
  margin-bottom: 15px;
  transition: font-size 1s, margin-bottom 1s;
}

.open button {
  font-size: 15px;
  margin-top: 20px;
  transition: font-size 1s, margin-top 1s;
}

.show {
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  .open {
    height: 40%;
    width: 60%;
  }

  .open h2 {
    font-size: 45px;
    margin-bottom: 45px;
  }

  .open h4 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .open button {
    font-size: 25px;
    margin-top: 30px;
  }
}
